{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}

{% extends "MasterTrainingBundle::base.html.twig" %}

{% block meta %}
    <meta charset="utf-8">
{% endblock %}

{% block title %}
    Nie znaleziono strony | {{ parent() }}
{% endblock %}

{% block blogContainer %}
    <div class="jumbotron">
        <div class="container">
            <h1>Nie znaleziono strony...</h1>
            <p>Niestety strona, której szukasz nie została znaleziona, spróbuj odświeżyć stronę lub skontaktuj się z administracją.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('master_blog_index') }}" role="button">Wróć na stronę główną &raquo;</a></p>
        </div>
    </div>
{% endblock %}