{# app/Resources/TwigBundle/views/Exception/error500.html.twig #}

{% extends "MasterTrainingBundle::base.html.twig" %}

{% block meta %}
    <meta charset="utf-8">
{% endblock %}

{% block title %}
    Błąd serwera | {{ parent() }}
{% endblock %}

{% block blogContainer %}
    <div class="jumbotron">
        <div class="container">
            <h1>Ups... Błąd serwera.</h1>
            <p>Serwer dostał zadyszki. Odśwież stronę lub odwiedź blog za chwilę.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('master_blog_index') }}" role="button">Wróć na stronę główną &raquo;</a></p>
        </div>
    </div>
{% endblock %}
