{% extends "MasterTrainingBundle::base.html.twig" %}

{% block meta %}
	<meta charset="utf-8"/>
{% endblock %}

{% block title %}
	Strona główna | {{ parent() }}
{% endblock %}

{% block blogContainer %}

        <div class="jumbotron">
            <div class="container">
                <div class="text">
                    <h1>Być jak Warren Buffett!</h1>
                    <p>Jest powszechnie uważany za jednego z najlepszych inwestorów na świecie. Warren Buffett, często określany jako "legendarny inwestor", jest głównym akcjonariuszem, przewodniczącym rady nadzorczej oraz prezesem Berkshire Hathaway. Od wielu lat konsekwentnie utrzymuje się na szczytach list najbogatszych ludzi świata.</p>
                    <p><a class="btn btn-primary btn-lg" href="dziennik.html" role="button">Moja droga na szczyt &raquo;</a></p>
                </div>
                <img class="bull" src="{{ asset('bundles/mastertraining/img/bull.jpg') }}" alt="">
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">

                <div class="col-md-4">
                    {% include 'MasterTrainingBundle:Blog/widgets:gpwWidget.html.twig' %}
                </div>

                <div class="col-md-4">
                   {# {% include 'MasterTrainingBundle:Blog/widgets:followingWidget.html.twig' %} #}
                   {{ render(controller('MasterTrainingBundle:Blog:followingWidget')) }}
                </div>
					
                <div class="col-md-4">
                   {# {% include 'MasterTrainingBundle:Blog/widgets:walletWidget.html.twig' %}#}
                  	{{ render(controller('MasterTrainingBundle:Blog:walletWidget')) }}
                </div>
            </div>

        </div> <!-- /container -->
{% endblock %}